.password-strength-score { font-weight:bold; margin-left:10px }
.password-strength-score-0 { color:red; }
.password-strength-score-1 { color:orange; }
.password-strength-score-2 { color:brown; }
.password-strength-score-3 { color:blue; }
.password-strength-score-4 { color:green; }
.password-strength-warning { font-style:italic; color:brown }
.password-strength-suggestion { font-style:italic; }
